    $--color-primary-default: #00965E;
    $--color-primary-contrast: #F39100;
    $--color-primary-light: #DAE3DB;
    $--color-primary-grey: #676B72;

    $--color-neutrals-border: #8295A5;
    $--color-neutrals-placeholder: #626362;
    $--color-neutral-placeholderAccessibility: #464C4B;
    $--color-neutral-light: #E1E4E7;
    $--color-neutral-lighter: #F6F6F6;

    $--color-darkVariant-green:#00523B;
    $--color-darkVariant-orange:#EA5906;

    $--color-success-default: #00965E;
    $--color-success-light: #D6F3E9;

    $--color-warning-default: #EA5906;
    $--color-warning-light: #FCF0DB;

    $--color-error-default: #D60101;
    $--color-error-default-light: #FDE1E1;
    $--color-additional-bnp: #E10078;

    $--color-default-white: #FFFFFF;
    $--color-default-black: #212529;