//----- TYPOGRAPHY -----//
$bnpp-sans: "bnpp-sans";
$bnpp-sans-light: "bnpp-sans-light";
$bnpp-sans-italic: "bnpp-sans-italic";
$bnpp-sans-light-italic: "bnpp-sans-light-italic";
$bnpp-sans-bold: "bnpp-sans-bold";
$bnpp-sans-bold-italic: "bnpp-sans-bold-italic";
$bnpp-sans-extra-bold: "bnpp-sans-extra-bold";
$bnpp-sans-extra-bold-italic: "bnpp-sans-extra-bold-italic";

$font-family-base: $bnpp-sans;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-bolder: 800;
$font-weight-max: 900;

//

$max-width-tablet: 448px;
$max-width-desktop: 1040px;
$content-max-width-desktop: 580px;
$padding-left-desktop: 112px;
$margin-right-desktop: 64px;

// Breakpoints
$breakpoint-xs: 576px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-mmd: 1024px;
$breakpoint-lg: 1200px;

// Default styles for mobile

// Media query for tablets
@media (min-width: $breakpoint-sm) {
  // Tablet styles
}

// Media query for desktops
@media (min-width: $breakpoint-md) {
  // Desktop styles
}

// Media query for large screens
@media (min-width: $breakpoint-lg) {
  // Large screen styles
}
