//----- TYPOGRAPHY -----//
$bnpp-sans: 'bnpp-sans';
$font-family-base: $bnpp-sans;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-bolder: 800;
$font-weight-max: 900;