@import "../../../../app/styles/variables";

:host {
  display: flex;

  header {
    padding: 16px 24px;
  }

  @media (min-width: $breakpoint-sm) {
    justify-content: center;
    header {
      padding: 16px 0;
      width: 100%;
      max-width: $max-width-tablet;
    }
  }

  @media (min-width: $breakpoint-lg) {
    justify-content: center;

    header {
      width: 100%;
      max-width: $max-width-desktop;
    }
  }
}
