<meta
  name="viewport"
  content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
/>

<div class="wrapper">
  <h1 class="title">Wie lautet Ihre aktuelle Handynummer?</h1>
  <h2 class="description">
    Diese wird benötigt, damit Sie Ihren Antrag digital abschließen können.
  </h2>
  <div class="phone-input-area">
    <div class="country-selection">
      <h1 class="label">
        <span
          class="asterisk"
          [ngClass]="{error:CwpFormService.CWPForm.get('personalData.firstName')?.errors?.['required'] && CwpFormService.isSubmited.value}"
          >*</span
        >Land
      </h1>
      <div
        *ngIf="CwpFormService.CWPForm.get('personalData.firstName')?.errors?.['required'] && CwpFormService.isSubmited.value"
      ></div>
      <div
        class="input-field"
        (click)="toggleCountrySelection()"
        [class.selection-active]="countrySelectionIsOpen.value"
        [ngClass]="{success:CwpFormService.CWPForm.get('contactDetails.phoneNumber')?.valid , 
      error:CwpFormService.CWPForm.get('contactDetails.phoneNumber')?.errors?.['required'] && CwpFormService.isSubmited.value}"
      >
        <span
          [ngClass]="[
            'circle',
            'fi',
            'fis',
            'fi-' + countryService.currentCountryPhone.value.code
          ]"
        ></span>
        <i-tabler
          *ngIf="!countrySelectionIsOpen.value"
          name="chevron-down"
          class="arrow"
        ></i-tabler>

        <i-tabler
          *ngIf="countrySelectionIsOpen.value"
          name="chevron-up"
          class="arrow"
        ></i-tabler>
      </div>
    </div>
    <div class="phone-number">
      <h1 class="label">
        <span
          class="asterisk"
          [ngClass]="{error:(CwpFormService.CWPForm.get('contactDetails.phoneNumber')?.errors?.['required'] || CwpFormService.CWPForm.get('contactDetails.phoneNumber')?.errors?.['dynamicMinLengthValidator']) && CwpFormService.isSubmited.value}"
          >*</span
        >Handynummer
      </h1>
      <div class="input-container">
        <span #prefix class="label prefix phone-prefix-color"
          >+{{ countryService.currentCountryPhone.value.international_area_code
          }}<span
            class="label phone-prefix-color"
            *ngIf="countryService.currentCountryPhone.value.name === 'Germany'"
          >
            (0)</span
          ></span
        >

        <input
          #phoneNumberInput
          id="phoneNumber"
          class="input-field label phone-input"
          type="text"
          name="phoneNumber"
          [formControl]="CwpFormService.phoneNumberControl"
          (input)="onPhoneInput($event)"
          [maxlength]="phoneInputmaxLength"
          [ngClass]="{success:CwpFormService.CWPForm.get('contactDetails.phoneNumber')?.valid , 
            error:CwpFormService.CWPForm.get('contactDetails.phoneNumber')?.errors?.['required'] && CwpFormService.isSubmited.value}"
        />
        <i-tabler
          *ngIf="CwpFormService.CWPForm.get('contactDetails.phoneNumber')?.valid"
          name="circle-check"
          class="circle-check"
        >
        </i-tabler>
      </div>
    </div>
  </div>

  <div class="country-drop-down" *ngIf="countrySelectionIsOpen.value">
    <div
      (click)="countryService.selectCountryPhone(country)"
      (click)="toggleCountrySelection()"
      class="country"
      [class.selected-country]="
        countryService.currentCountryPhone.value.name === country.name
      "
      *ngFor="let country of countryService.countries"
    >
      <span [ngClass]="['circle', 'fi', 'fis', 'fi-' + country.code]"></span>
      <span class="text"
        >{{ country.german_name }} (+{{
          country.international_area_code
        }})</span
      >
      <i-tabler
        *ngIf="countryService.currentCountryPhone.value.name === country.name"
        name="check"
        class="icon-check"
      >
      </i-tabler>
    </div>
  </div>

  <p class="tip" *ngIf="!countrySelectionIsOpen.value">
    Bitte geben Sie Ihre Handynummer an (z. B. +49 1604922458).
  </p>

  <ng-container *ngIf="CwpFormService.isSubmited | async as isSubmited">
    <p
      class="tip"
      [ngClass]="{
        error:
          CwpFormService.CWPForm.get('contactDetails.phoneNumber')?.hasError(
            'required'
          ) && isSubmited
      }"
      *ngIf="
        CwpFormService.CWPForm.get('contactDetails.phoneNumber')?.hasError(
          'required'
        ) && isSubmited
      "
    >
      Bitte überprüfen Sie Ihre Handynummer.
    </p>
  </ng-container>

  <ng-container *ngIf="CwpFormService.isSubmited | async as isSubmited">
    <p
      class="tip"
      [ngClass]="{
        error:
          !CwpFormService.CWPForm.get('contactDetails.phoneNumber')?.hasError(
            'dynamicMinLengthValidator'
          ) && isSubmited
      }"
      *ngIf="
        !CwpFormService.CWPForm.get('contactDetails.phoneNumber')?.hasError(
          'dynamicMinLengthValidator'
        ) &&
        isSubmited &&
        !CwpFormService.CWPForm.get('contactDetails.phoneNumber')?.valid &&
        !CwpFormService.CWPForm.get('contactDetails.phoneNumber')?.hasError(
          'required'
        )
      "
    >
      Error for minLegth.
    </p>
  </ng-container>
</div>
