@import "/src/app/styles/variables";
@import "/src/app/styles/palette";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  @media (min-width: $breakpoint-sm) {
    max-width: $max-width-tablet;
    margin: 0 auto;
    padding: 32px 0 0 0;
  }

  @media (min-width: $breakpoint-md) {
    max-width: $content-max-width-desktop;
    padding: 40px 64px 64px 40px;
    margin: 0;
  }
}

.phone-input-area {
  display: flex;
  gap: 8px;
}

.country-drop-down {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 256px;

  scrollbar-width: thin;
  scrollbar-color: $--color-primary-default $--color-neutral-lighter;

  &::-webkit-scrollbar {
    width: 4px;
  }

  /* Define the color for the scrollbar thumb/handle */
  &::-webkit-scrollbar-thumb {
    background-color: $--color-primary-default;
    border-radius: 2px;
  }

  /* Optionally, you can style the track (background) of the scrollbar */
  &::-webkit-scrollbar-track {
    background-color: $--color-neutral-lighter;
    border-radius: 2px;
  }
}

.country {
  display: flex;
  position: relative;
  gap: 8px;
  height: 48px;
  padding: 14px 8px 10px 8px;
  align-items: center;
  font-family: $font-family-base;
  color: $--color-default-black;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: -0.1px;

  .text {
    padding-top: 5px;
  }

  &:hover {
    background-color: $--color-success-light;
    border-radius: 5px;
  }
}

.selected-country {
  background-color: $--color-success-light;
  border-radius: 5px;
}

.input-container {
  display: flex;
  position: relative;
}

.prefix {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  z-index: 10;
}

.phone-input {
  padding-left: 40px; /* Adjust based on the prefix width */
  width: 100%;
  padding-top: 20px;
  padding-bottom: 12px;
}

.circle {
  border-radius: 50%;
  background-size: auto;
  padding: 2px;
}
