<div
  class="content"
  [ngClass]="{
    intro:
      CwpFlowService.CWPFlowStepActive.value ===
      CwpFlowService.CWPFlowStepsSequence.personalData_salutationAndNamePage
  }"
  *ngIf="CwpFlowService.CWPFlowStepActive | async as active"
  [ngSwitch]="active"
>
  <app-progress-bar
    [barOnly]="true"
    *ngIf="
      CwpFlowService.CWPFlowStepActive.value !==
        CwpFlowService.CWPFlowStepsSequence
          .personalData_salutationAndNamePage &&
      (screenSizeService.isDesktop | async)
    "
  ></app-progress-bar>

  <app-navigation-buttons
    class="desktop-back"
    *ngIf="
      CwpFlowService.CWPFlowStepActive.value !==
        CwpFlowService.CWPFlowStepsSequence
          .personalData_salutationAndNamePage &&
      (screenSizeService.isDesktop | async)
    "
    [buttonType]="CwpFlowService.CWPFlowNavigationButtons.back"
  ></app-navigation-buttons>

  <h1
    class="page-title"
    *ngIf="
      CwpFlowService.CWPFlowStepActive.value !==
        CwpFlowService.CWPFlowStepsSequence
          .personalData_salutationAndNamePage &&
      (screenSizeService.isDesktop | async)
    "
  >
    {{ CwpFlowService.CWPFlowStepActiveName }}
  </h1>

  <ng-container
    *ngSwitchCase="
      CwpFlowService.CWPFlowStepsSequence.personalData_salutationAndNamePage
    "
  >
    <app-intro-image></app-intro-image>
    <app-salutation-and-name></app-salutation-and-name>
  </ng-container>

  <ng-container
    *ngSwitchCase="CwpFlowService.CWPFlowStepsSequence.personalData_emailPage"
  >
    <app-email></app-email>
  </ng-container>

  <ng-container
    *ngSwitchCase="
      CwpFlowService.CWPFlowStepsSequence.personalData_birthDatePage
    "
  >
    <app-birth-date></app-birth-date>
  </ng-container>

  <ng-container
    *ngSwitchCase="
      CwpFlowService.CWPFlowStepsSequence.personalData_maritalStatusPage
    "
  >
    <app-marital-status></app-marital-status>
  </ng-container>

  <ng-container
    *ngSwitchCase="
      CwpFlowService.CWPFlowStepsSequence.contactDetails_addressCurrentPage
    "
  >
    <app-current-address></app-current-address>
  </ng-container>

  <ng-container
    *ngSwitchCase="
      CwpFlowService.CWPFlowStepsSequence.contactDetails_addressPreviousPage
    "
  >
    <app-previous-address></app-previous-address>
  </ng-container>

  <ng-container
    *ngSwitchCase="
      CwpFlowService.CWPFlowStepsSequence.contactDetails_phoneNumberPage
    "
  >
    <app-phone-number></app-phone-number>
  </ng-container>

  <ng-container
    *ngSwitchCase="
      CwpFlowService.CWPFlowStepsSequence.nationality_nationalityPage
    "
  >
    <app-nationality></app-nationality>
  </ng-container>

  <ng-container
    *ngSwitchCase="
      CwpFlowService.CWPFlowStepsSequence.bankDetails_bankDetailsPage
    "
  >
    <app-bank-details></app-bank-details>
  </ng-container>

  <ng-container
    *ngSwitchCase="
      CwpFlowService.CWPFlowStepsSequence
        .employmentDetails_employmentRelationtshipPage
    "
  >
    <app-employment-relationship></app-employment-relationship>
  </ng-container>

  <ng-container
    *ngSwitchCase="
      CwpFlowService.CWPFlowStepsSequence.employmentDetails_employee
    "
  >
    <app-employee></app-employee>
  </ng-container>

  <ng-container
    *ngSwitchCase="
      CwpFlowService.CWPFlowStepsSequence.employmentDetails_selfEmployed
    "
  >
    <app-self-employed></app-self-employed>
    <!-- <app-industry-type-and-majority-sales-country></app-industry-type-and-majority-sales-country> -->
  </ng-container>

  <ng-container
    *ngSwitchCase="
      CwpFlowService.CWPFlowStepsSequence.employmentDetails_executive
    "
  >
    <app-executive></app-executive>
    <!-- <app-employer-address></app-employer-address> -->
  </ng-container>

  <ng-container
    *ngSwitchCase="CwpFlowService.CWPFlowStepsSequence.employmentDetails_other"
  >
    <app-other></app-other>
    <!-- <app-employer-address></app-employer-address> -->
  </ng-container>

  <ng-container
    *ngSwitchCase="
      CwpFlowService.CWPFlowStepsSequence.regularExpenses_whoDoYouLiveWithPage
    "
  >
    <app-who-do-you-live-with></app-who-do-you-live-with>
  </ng-container>

  <ng-container
    *ngSwitchCase="
      CwpFlowService.CWPFlowStepsSequence
        .regularExpenses_haveChildrenWhomYouAreResponsiblePage
    "
  >
    <app-have-children-whom-you-are-responsible></app-have-children-whom-you-are-responsible>
  </ng-container>

  <ng-container
    *ngSwitchCase="
      CwpFlowService.CWPFlowStepsSequence.overallOverview_summaryPage
    "
  >
    <app-summary></app-summary>
  </ng-container>

  <app-navigation-buttons
    *ngIf="
      CwpFlowService.CWPFlowStepActive.value !==
      CwpFlowService.CWPFlowStepsSequence.personalData_salutationAndNamePage
    "
    [buttonType]="CwpFlowService.CWPFlowNavigationButtons.next"
  ></app-navigation-buttons>
</div>
