@import "/src/app/styles/variables";
@import "/src/app/styles/palette";

.content {
  display: flex;
  flex-direction: column;
  // height: 100%;
  padding: 24px 24px 0 24px;
  @media (min-width: $breakpoint-sm) {
  }

  // Media query for desktops
  @media (min-width: $breakpoint-md) {
    max-width: 448px;
    margin: 0 auto;
  }

  // Media query for large screens
  @media (min-width: $breakpoint-lg) {
    width: 100%;
    max-width: 1040px;
    background-color: $--color-default-white;
    border-radius: 15px;

    margin-top: 40px;

    app-navigation-buttons{
      margin: 0 64px 64px 0;
    }
  }
}

.intro {
  padding: 0;

  @media (min-width: $breakpoint-lg) {
    flex-direction: row-reverse;
  }
}
