@import "/src/app/styles/variables";
@import "/src/app/styles/palette";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  @media (min-width: $breakpoint-sm) {
    max-width: 448px;

    .divider {
      width: 410px;
    }

    .header {
      width: 420px;
    }

    .titleYearOrMonth {
      margin-right: 386px;
    }
  }

  // Media query for desktops
  @media (min-width: $breakpoint-md) {
    max-width: 448px;
  }

  @media (min-width: $breakpoint-mmd) {
    max-width: 448px;
  }

  // Media query for large screens
  @media (min-width: $breakpoint-lg) {
    .divider {
      width: 410px;
    }

    .header {
      width: 420px;
    }

    .titleYearOrMonth {
      margin-right: 386px;
    }
  }
}

.calendar {
  height: auto;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 24px;
}

.content-calendar {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  background: $--color-default-white;
  border-radius: 6px;
  padding: 20px;
}

/*.header {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  
  
}*/

.selected {
  background-color: #00915a;
  border-radius: 40px;
  width: 45px;
  height: 45px;
  color: $--color-default-white;
}

.divider {
  width: 292px;
  border: 1px;
  color: $--color-neutral-light;
  margin-top: 8px;
  margin-bottom: 12px;
}

.header {
  width: 314px;
  display: grid;
  grid-template-columns: 1fr auto 1fr; /* Three columns with equal width */
  gap: 10px; /* Adjust the gap as needed */
  align-items: center; /* Center items vertically */
}

.years {
  width: 341px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.year {
  width: 48px;
  height: 48px;
  cursor: pointer;
  font-family: $bnpp-sans-light;
  font-weight: $font-weight-light;
  font-size: 18px;
  line-height: 25.2px;
  letter-spacing: -0.20000000298023224px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  margin-left: 20px;
}

.titleYearOrMonth {
  font-size: 18px;
  font-weight: $font-weight-normal;
  line-height: 25.2px;
  letter-spacing: -0.10000000149011612px;
  text-align: left;

  font-family: $bnpp-sans;
  margin-right: 280px;
}

.titleRange {
  font-family: $bnpp-sans;
  font-size: 18px;
  line-height: 25.2px;
  font-weight: $font-weight-normal;
  letter-spacing: -0.10000000149011612px;
  text-align: left;

}

.header-arrow:last-child {
  justify-self: end;
}

.months {
  width: 341px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.month {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  cursor: pointer;
  letter-spacing: -0.20000000298023224px;
  font-weight: $font-weight-light;
  line-height: 25.2px;
  font-size: 18px;
  margin-bottom: 16px;
  font-family: $bnpp-sans-light;
}

.other-month {
  color: $--color-neutrals-border;
  cursor: not-allowed;
  pointer-events: none;
}

.next-month {
  // background-color: #f0f0f0;
  color: $--color-neutrals-border;
  cursor: not-allowed;
  pointer-events: none;
}

.dayWeek {
  text-align: center;
  padding-top: 8px;
  font-weight: $font-weight-light;
  color: $--color-default-black;
  font-weight: 300;
  font-size: 18px;
  width: 40px;
  height: 40px;
  line-height: 25.2px;
  font-family: $bnpp-sans-light;
}

.daysWeek {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 320px;
  margin-top: -5px;
}

.day {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.2s;
  line-height: 25.2px;
  font-size: 18px;
  font-family: $bnpp-sans-light;
  font-weight: $font-weight-light;
}

.buttonOptions {
  background-color: $--color-default-white;
  border: 0rem;
}
