<h1 class="title">Seit wann arbeiten Sie bei Ihrem aktuellen Arbeitgeber?</h1>
<h1 class="label"><span class="asterisk">*</span>Beschäftigt seit</h1>
<div class="input">
  <input id="iban" class="input-field label" type="text" name="iban" />
  <!-- <i-tabler
    *ngIf="CwpFormService.CWPForm.get('bankData.iban')?.errors?.['required'] && CwpFormService.isSubmited.value"
    name="exclamation-circle"
    class="icon-exclamation"
  ></i-tabler>
  <i-tabler
    *ngIf="CwpFormService.CWPForm.get('bankData.iban')?.valid"
    name="circle-check"
    class="circle-check"
  >
  </i-tabler> -->
</div>
<p class="description">
    Geben Sie an, seit wann Sie bei Ihrem aktuellen Arbeitgeber beschäftigt sind (z. B. 09.2015).
</p>
<!-- <div
  *ngIf="
    !CwpFormService.isSubmited.value ||
    (CwpFormService.CWPForm.get('bankData.iban')?.valid &&
      CwpFormService.isSubmited.value)
  "
></div> -->
