<div class="content">
  <h1 class="title">
    <span
      class="green"
      [ngClass]="{error:CwpFormService.CWPForm.get('personalData.maritalStatus')?.errors?.['required'] && CwpFormService.isSubmited.value}"
      >*</span
    >Wie ist Ihr Familienstand?
  </h1>
  <div class="contentRadio">
    <div
      class="button1"
      *ngFor="let value of maritalStatus | async; let i = index"
    >
      <input
        class="inputRadio"
        type="radio"
        [value]="value"
        [attr.id]="'maritalStatus' + i"
        [formControl]="CwpFormService.maritalStatusControl"
        [ngClass]="{error:CwpFormService.CWPForm.get('personalData.maritalStatus')?.errors?.['required'] && CwpFormService.isSubmited.value}"
      />
      <label class="labelRadio">{{ value }}</label>
    </div>
  </div>
  <div
    *ngIf="CwpFormService.isSubmited.value && CwpFormService.CWPForm.get('personalData.maritalStatus')?.errors?.['required']"
  >
    <p class="validationRadio">Bitte wählen Sie Ihren Familienstand aus.</p>
  </div>
</div>
