@import "/src/app/styles/variables";
@import "/src/app/styles/palette";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  @media (min-width: $breakpoint-sm) {
    max-width: 448px;
    margin: 0 auto;
    padding: 32px 0 0 0;
  }

  // Media query for desktops
  @media (min-width: $breakpoint-md) {
    max-width: 448px;
    margin: 0 auto;
  }

  // Media query for large screens
  @media (min-width: $breakpoint-lg) {
    padding: 40px 64px 64px 40px;
    margin: 0;
  }
}

.green {
  margin-bottom: 10px;
  color: $--color-primary-default;
  font-weight: 700;
  width: 8px;
  height: 11px;
  margin-left: 2px;
}


.contentRadio {
  margin-top: 16px;
}
  .button1 {
    vertical-align: middle;
    margin: 20px 0px 0px 0px;

    input[type="radio"] {
      vertical-align: middle;
      width: 24px;
      height: 24px;
      font-weight: 400;
      appearance: none;
      border: 2px solid #8295a5;
      border-radius: 12px;
      margin-bottom: 6px;

      &.error {
        accent-color: $--color-error-default ;
        line-height: 25px;
      }

      &:checked:before {
        display: block;
        width: 12px;
        height: 12px;
        content: '';
        margin-top: 2px;
        position: relative;
        top: 40%;
        transform: translate(-50%, -50%);
        left: 50%;
        background-color: $--color-success-default;
        border-radius: 12px;
        border-color: $--color-success-default ;
      }

      &:checked {
        border-color: $--color-success-default ;
      }
    }
  }

.validationRadio {
  width: 327px;
  height: 48px;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: -0.15000000596046448px;
  text-align: left;
  color: $--color-error-default;
  font-family: $font-family-base;
  margin-top: 16px;
}

.labelRadio {
  align-self: stretch;
  vertical-align: middle;
  font-size: 18px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.15000000596046448px;
  margin-left: 16px;
  font-family: $font-family-base;
  bottom: 20px;
  color: $--color-default-black;
  font-family: $font-family-base;
}