<h1 class="title">In welcher Branche arbeiten Sie?</h1>
<h1 class="label"><span class="asterisk">*</span>Branche</h1>
<div class="input">
  <input id="iban" class="input-field label" type="text" name="iban" />
  <!-- <i-tabler
    *ngIf="CwpFormService.CWPForm.get('bankData.iban')?.errors?.['required'] && CwpFormService.isSubmited.value"
    name="exclamation-circle"
    class="icon-exclamation"
  ></i-tabler>
  <i-tabler
    *ngIf="CwpFormService.CWPForm.get('bankData.iban')?.valid"
    name="circle-check"
    class="circle-check"
  >
  </i-tabler> -->
</div>
<p class="description">
  Geben Sie die Branche an, in der Sie Ihre selbst-ständige Tätigkeit ausüben.
  <!-- <div
  *ngIf="
    !CwpFormService.isSubmited.value ||
    (CwpFormService.CWPForm.get('bankData.iban')?.valid &&
      CwpFormService.isSubmited.value)
  "
></div> -->
</p>
<h1 class="title">
  In welchem Land erzielen Sie den wesentlichen Anteil Ihres Umsatzes?
</h1>
<h1 class="label"><span class="asterisk">*</span>Land</h1>
<div class="input">
  <input id="iban" class="input-field label" type="text" name="iban" />
  <!-- <i-tabler
    *ngIf="CwpFormService.CWPForm.get('bankData.iban')?.errors?.['required'] && CwpFormService.isSubmited.value"
    name="exclamation-circle"
    class="icon-exclamation"
  ></i-tabler>
  <i-tabler
    *ngIf="CwpFormService.CWPForm.get('bankData.iban')?.valid"
    name="circle-check"
    class="circle-check"
  >
  </i-tabler> -->
</div>
<p class="description">
  Geben Sie das Land an, in dem der größte Teil Ihres Geschäftsumsatzes erzielt
  wird. Dies bezieht sich auf das Land Ihrer Hauptgeschäfts-tätigkeit oder Ihrer
  Zielgruppe.
  <!-- <div
  *ngIf="
    !CwpFormService.isSubmited.value ||
    (CwpFormService.CWPForm.get('bankData.iban')?.valid &&
      CwpFormService.isSubmited.value)
  "
></div> -->
</p>
