@import "/src/app/styles/variables";
@import "/src/app/styles/palette";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  @media (min-width: $breakpoint-sm) {
    max-width: $max-width-tablet;
    margin: 0 auto;
    padding: 32px 0 0 0;
  }

  @media (min-width: $breakpoint-md) {
    max-width: $content-max-width-desktop;
    padding: 40px 64px 64px 40px;
    margin: 0;
  }
}

.input-field {
  .name-arrow-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 8px;
  }
}

.permit-input-text {
  text-wrap: nowrap;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
}

.country-name {
  padding-top: 16px;
  margin-right: auto;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.MSQC {
  display: flex;
}
