@import "/src/app/styles/variables";
@import "/src/app/styles/palette";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 24px 24px 0 24px;
  @media (min-width: $breakpoint-sm) {
    max-width: 448px;
    margin: 0 auto;
    padding: 32px 0 0 0;

    .wrapper {
      height: 100%;
    }
  }

  @media (min-width: $breakpoint-md) {
    padding: 0;
    max-width: 392px;

    .wrapper {
      max-width: 392px;
      width: 100%;
      margin: 0 auto;
      padding-top: 44px;
    }
  }
}
