<div class="wrapper">
  <h1 class="title">
    In wenigen Schritten zu Ihrer Consors Finanz Mastercard®.
  </h1>
  <h2 class="description">
    Pflichtfelder sind mit <span class="asterisk">*</span> markiert
  </h2>

  <div class="salutation">
    <h1 class="label">
      <span
        class="asterisk"
        [ngClass]="{error:CwpFormService.CWPForm.get('personalData.salutation')?.errors?.['required'] && CwpFormService.isSubmited.value}"
        >*</span
      >Anrede
    </h1>
    <div class="radio-buttons">
      <div
        class="button"
        *ngFor="let value of salutation | async; let i = index"
      >
        <label class="label">{{ value }}</label>

        <input
          class="radio"
          type="radio"
          [value]="value"
          [attr.id]="'salutation' + i"
          [formControl]="CwpFormService.salutationControl"
          [ngClass]="{error:CwpFormService.CWPForm.get('personalData.salutation')?.errors?.['required'] && CwpFormService.isSubmited.value}"
        />
      </div>
    </div>
    <div
      *ngIf="CwpFormService.isSubmited.value && CwpFormService.CWPForm.get('personalData.salutation')?.errors?.['required']"
    >
      <p class="validation">Wählen Sie die zutreffende Option.</p>
    </div>
  </div>

  <div class="first-name">
    <h1 class="label">
      <span
        class="asterisk"
        [ngClass]="{error:CwpFormService.CWPForm.get('personalData.firstName')?.errors?.['required'] && CwpFormService.isSubmited.value}"
        >*</span
      >Vorname
    </h1>
    <div
      *ngIf="CwpFormService.CWPForm.get('personalData.firstName')?.errors?.['required'] && CwpFormService.isSubmited.value"
    ></div>
    <div class="input">
      <input
        id="firstName"
        class="input-field"
        type="text"
        name="firstName"
        [formControl]="CwpFormService.firstNameControl"
        [ngClass]="{success:CwpFormService.CWPForm.get('personalData.firstName')?.valid , 
            error:CwpFormService.CWPForm.get('personalData.firstName')?.errors?.['required']&& CwpFormService.isSubmited.value}"
      />
      <i-tabler
        *ngIf="CwpFormService.CWPForm.get('personalData.firstName')?.errors?.['required'] && CwpFormService.isSubmited.value"
        name="exclamation-circle"
        class="icon-exclamation"
      ></i-tabler>
      <i-tabler
        *ngIf="CwpFormService.CWPForm.get('personalData.firstName')?.valid"
        name="circle-check"
        class="circle-check"
      >
      </i-tabler>
    </div>
    <div
      *ngIf="
        !CwpFormService.isSubmited.value ||
        (CwpFormService.CWPForm.get('personalData.firstName')?.valid &&
          CwpFormService.isSubmited.value)
      "
    >
      <p class="description">
        Geben Sie alle Vornamen so an, wie sie in Ihrem Personalausweis stehen.
      </p>
    </div>
    <div
      *ngIf="CwpFormService.CWPForm.get('personalData.firstName')?.errors?.['required'] && CwpFormService.isSubmited.value"
    >
      <p class="validation">Bitte geben Sie Ihren Vorname an.</p>
    </div>
  </div>

  <div class="last-name">
    <h1 class="label">
      <span
        class="asterisk"
        [ngClass]="{error:CwpFormService.CWPForm.get('personalData.lastName')?.errors?.['required'] && CwpFormService.isSubmited.value}"
        >*</span
      >Nachname
    </h1>
    <div class="input">
      <input
        id="lastName"
        class="input-field"
        type="text"
        [formControl]="CwpFormService.lastNameControl"
        name="lastName"
        [ngClass]="{success:CwpFormService.CWPForm.get('personalData.lastName')?.valid , 
            error:CwpFormService.CWPForm.get('personalData.lastName')?.errors?.['required']&& CwpFormService.isSubmited.value}"
      />
      <i-tabler
        *ngIf="CwpFormService.CWPForm.get('personalData.lastName')?.errors?.['required'] && CwpFormService.isSubmited.value"
        name="exclamation-circle"
        class="icon-exclamation"
      ></i-tabler>
      <i-tabler
        *ngIf="CwpFormService.CWPForm.get('personalData.lastName')?.valid"
        name="circle-check"
        class="circle-check"
      >
      </i-tabler>
    </div>
    <div
      *ngIf="
        !CwpFormService.isSubmited.value ||
        (CwpFormService.CWPForm.get('personalData.lastName')?.valid &&
          CwpFormService.isSubmited.value)
      "
    >
      <p class="description">
        Geben Sie alle Nachnamen so an, wie er in Ihrem Personalausweis steht.
      </p>
    </div>
    <div
      *ngIf="CwpFormService.CWPForm.get('personalData.lastName')?.errors?.['required'] && CwpFormService.isSubmited.value"
    >
      <p class="validation">Bitte geben Sie Ihren Nachname an.</p>
    </div>
  </div>
</div>

<app-navigation-buttons
  [buttonType]="CwpFlowService.CWPFlowNavigationButtons.next"
></app-navigation-buttons>
