@import "/node_modules/flag-icons/css/flag-icons.min.css";
@import '/src/app/styles/variables';
:host,
form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.step {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  justify-content: space-between;
  padding: 24px;
}

// .introduction {
//   font-family: $font-family-base;
//   font-size: 24px;
//   font-weight: 700;
//   line-height: 31.2px;
// }

// .introText {
//   // width: Fill (327px);
//   // height: Hug (32px);
//   padding: 0px, 0px, 8px, 0px;
//   gap: 10px;
// }
