<ng-container *ngIf="CwpFlowService.CWPFlowStepActive | async as active">
  <ng-container [ngSwitch]="active">
    <ng-container *ngSwitchCase="active === CWPFlowStepsSequence.personalData">
      <div class="step">
        <app-intro-image></app-intro-image>
        <div class="content">
          <h1>In wenigen Schritten zu Ihrer Consors Finanz Mastercard®.</h1>
          <h2>Pflichtfelder sind mit <span class="green">*</span> markiert</h2>
        </div>
      </div>
      <app-navigation-buttons
        [buttonType]="CWPFlowNavigationButtons.next"
      ></app-navigation-buttons>
    </ng-container>

    <ng-container *ngSwitchCase="CWPFlowStepsSequence.contactDetails">
      <app-navigation-buttons
        [buttonType]="CWPFlowNavigationButtons.back"
      ></app-navigation-buttons>
      <div class="step">
        <div class="content">
          <h1>Contact Details.</h1>
        </div>
      </div>
      <app-navigation-buttons
        [buttonType]="CWPFlowNavigationButtons.next"
      ></app-navigation-buttons>
    </ng-container>

    <ng-container *ngSwitchCase="CWPFlowStepsSequence.nationality">
      <app-navigation-buttons
        [buttonType]="CWPFlowNavigationButtons.back"
      ></app-navigation-buttons>
      <div class="step">
        <div class="content">
          <h1>Nationality.</h1>
        </div>
      </div>
      <app-navigation-buttons
        [buttonType]="CWPFlowNavigationButtons.next"
      ></app-navigation-buttons>
    </ng-container>

    <ng-container *ngSwitchCase="CWPFlowStepsSequence.bankDetails">
      <app-navigation-buttons
        [buttonType]="CWPFlowNavigationButtons.back"
      ></app-navigation-buttons>
      <div class="step">
        <div class="content">
          <h1>Bank Details.</h1>
        </div>
      </div>
      <app-navigation-buttons
        [buttonType]="CWPFlowNavigationButtons.next"
      ></app-navigation-buttons>
    </ng-container>

    <ng-container *ngSwitchCase="CWPFlowStepsSequence.employmentDetails">
      <app-navigation-buttons
        [buttonType]="CWPFlowNavigationButtons.back"
      ></app-navigation-buttons>
      <div class="step">
        <div class="content">
          <h1>Employment Details.</h1>
        </div>
      </div>
      <app-navigation-buttons
        [buttonType]="CWPFlowNavigationButtons.next"
      ></app-navigation-buttons>
    </ng-container>

    <ng-container *ngSwitchCase="CWPFlowStepsSequence.regularExpenses">
      <app-navigation-buttons
      [buttonType]="CWPFlowNavigationButtons.back"
    ></app-navigation-buttons>
    <div class="step">
      <div class="content">
        <h1>Regular Expenses.</h1>
      </div>
    </div>
    <app-navigation-buttons
      [buttonType]="CWPFlowNavigationButtons.next"
    ></app-navigation-buttons>
    </ng-container>

    <ng-container *ngSwitchCase="CWPFlowStepsSequence.overallOverview">
      <app-navigation-buttons
        [buttonType]="CWPFlowNavigationButtons.back"
      ></app-navigation-buttons>
      <div class="step">
        <div class="content">
          <h1>Overall Overview.</h1>
        </div>
      </div>
      <app-navigation-buttons
        [buttonType]="CWPFlowNavigationButtons.next"
      ></app-navigation-buttons>
    </ng-container>
  </ng-container>
</ng-container>
