:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.step {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  justify-content: space-between;
  padding: 24px;
}

app-navigation-buttons {
  padding: 24px;
}

.error {
  color: red;
}
